nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 98.8vw; */
  height: 74px;
  /* padding: 0px 22px; */
  /* box-sizing: border-box; */
}
.search_bar {
  width: 60%;
  height: 48px;
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  padding: 0px;
  overflow: hidden;
}
.search_input {
  width: 88%;
  margin: 0px;
  height: 47px;
  padding-left: 13px;
  border-width: 0px 1px 0px 0px;
  border-color: #121212;
  border-style: solid;
  /* font-size: 16px;
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  color: red; */
}
.search_input::placeholder {
  font-size: 16px;
  font-family: "lato";
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 19.2px;
  color: #121212;
}
.search_button {
  width: 11%;
  height: 48px;
  background-color: #ffffff;
  /* border-left: 1px solid black; */
  border: none;
  /* color: #121212; */
  /* border: 0px 0px 0px 1px solid #121212; */
}
.logo_img {
  height: 20px;
  width: 20px;
  margin-right: 1rem;
}

.btnDiv {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
}
.btnDiv Button {
  margin: 0 20px;
  height: 47px;
  text-align: center;
}

.css-j204z7-MuiFormControlLabel-root {
  margin-right: 0 !important;
}
#mobileSearchBar {
  display: none;
}
#mobileOptions {
  display: none;
}
.imgDiv {
  margin-left: 16px;
  width: 10%;
  height: 47px;
}
.logo {
  width: 80%;
  height: 100%;
}
#desktopSearchBar {
  display: flex;
  width: 83%;
  margin-left: 1rem;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 200px) and (max-width: 800px) {
  #mobileSearchBar {
    display: block;
    width: 100%;
    /* padding: 1rem; */
  }
  .search_bar {
    margin-left: 8px;
    width: 95vw;
  }
  #desktopSearchBar {
    display: none;
  }
  nav {
    justify-content: space-between;
  }
  #mobileOptions {
    margin-right: 2rem;
    display: block;
  }
  .imgDiv {
    width: 40%;
    height: 47px;
  }
}
